{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}OpenDotA - Open-Source DotA2 Statistics{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">
        <!-- <link rel="stylesheet" href="css/main.css"> TODO: REMOVE ME -->
        <script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
        {% block headerscripts %}{% endblock headerscripts %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <a href="#"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:9999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
        {% block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{% url home %}">OpenDotA</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li {% if path_info == "/" or "/home/" in path_info %}class="active"{% endif %}><a href="{% url home %}">Home</a></li>
                            <!-- <li {% if "/news" in path_info %}class="active"{% endif %}><a href="{% url news %}">News</a></li>  -->
                            <li {% if "/matches" in path_info %}class="active"{% endif %}><a href="{% url matches_overview %}">Matches</a></li>
                            <!-- <li {% if "/leagues" in path_info %}class="active"{% endif %}><a href="{% url leagues %}">Tournaments</a></li> -->
                        </ul>
                        
                        {% comment %}<div class="navbar-form pull-right">
                            {% if not user.is_authenticated %}
                            <a href="{% url openid-login %}"><img src="{% static 'img/sits_small.png' %}"></a>
                            {% else %}
                            Authenticated! {{ user.get_full_name }}
                            {% endif %}
                        </div>{% endcomment %}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        {% endblock navbar %}
        <div class="alert alert-warning" style="text-align:center;">
            <b>DISCLAIMER!</b> We are still in development. Data displayed during this period may not be accurate. Sorry!
        </div>
        <div class="container" style="min-height: 700px;">
            {% if error %}
            <div class="alert alert-error">{{ error }}</div>
            {% endif %}
            {% block content %}
            <div class="well well-small">
                <p>TODO.</p>
            </div>
            {% endblock content %}
        </div> <!-- /container -->
        {% block footer %}
        <div class="container">
            <hr>
            <footer>
                &copy; OpenDotA 2013<p class="pull-right"><a href="{% url about %}">About</a> - <a href="#">GitHub</a></p>
            </footer>
        </div>
        {% endblock footer %} 

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/jquery-1.9.0.min.js" %}"><\/script>')</script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/analytics.min.js' %}"></script>
        <script type="text/javascript">
            analytics.initialize({
                'Google Analytics' : {
                    trackingId              : 'UA-37993557-1',
                    enhancedLinkAttribution : true,
                    siteSpeedSampleRate     : 10
                },
            });
            {% block analytics %}{% endblock analytics %}
        </script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
