{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
    {% include 'includes/searchbar_snippet.html' %}
    {% if match %}
        <h1>{{ match.get_game_type }}</h1><hr>
        <div class="pull-right">Began {{ match.start_time|naturaltime }}.</div>
        <div><strong>Duration</strong>: {{ match.get_duration }}</div>
        {% for team in teams %}
            {% if forloop.counter == 1%}
                <h3>Radiant - {% if match.radiant_win %}Victory{% else %}Defeat{% endif %}</h3>
            {% else %}
                <h3>Dire - {% if match.radiant_win %}Defeat{% else %}Victory{% endif %}</h3>
            {% endif %}
            <table class="table table-bordered">
                <thead>
                    <th class="dota_avatar">Hero</th>
                    <th class="dota_level">Level</th>
                    <th class="dota_player_name">Player Name</th>
                    <th class="dota_kda">K / D / A</th>
                    <th class="dota_lhd">LH / D</th>
                    <th>Items</th>
                </thead>
                <tbody>
                    {% for playerentry in team.all %}
                    <tr>
                        <td><img src="{% static 'img/miniheroes/'|add:playerentry.hero_id.get_code_name|add:'.png' %}" alt="{{ playerentry.hero_id }}"></td>
                        <td>{{ playerentry.level }}</td>
                        <td>
                            {% if playerentry.leaver_status == 3 %}
                            <i class="icon-remove"> </i>
                            {% endif %}
                            {% if playerentry.is_bot %}
                            <em>Bot</em>
                            {% elif playerentry.account_id_id != 4294967295 and playerentry.account_id != None %}
                            <a href="{{ playerentry.account_id.profileurl }}"><img src="{{ playerentry.account_id.avatar }}"></a> <a href="{% url players playerentry.account_id.get_id_or_url %}">{{ playerentry.get_steam_name }}</a>
                            {% else %}
                            <em>{{ playerentry.get_steam_name }}</em>
                            {% endif %}
                        </td>
                        <td>{{ playerentry.kills }} / {{ playerentry.deaths }} / {{ playerentry.assists }}</td>
                        <td>{{ playerentry.last_hits }} / {{ playerentry.denies }}</td>
                        <td>
                            {% if playerentry.item_0.get_code_name and playerentry.item_0.get_code_name != 'None' %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_0.get_code_name|add:'.png' %}">
                            {% endif %}
                            {% if playerentry.item_1.get_code_name and playerentry.item_1.get_code_name != 'None'  %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_1.get_code_name|add:'.png' %}">
                            {% endif %}
                            {% if playerentry.item_2.get_code_name and playerentry.item_2.get_code_name != 'None'  %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_2.get_code_name|add:'.png' %}">
                            {% endif %}
                            {% if playerentry.item_3.get_code_name and playerentry.item_3.get_code_name != 'None'  %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_3.get_code_name|add:'.png' %}">
                            {% endif %}
                            {% if playerentry.item_4.get_code_name and playerentry.item_4.get_code_name != 'None'  %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_4.get_code_name|add:'.png' %}">
                            {% endif %}
                            {% if playerentry.item_5.get_code_name and playerentry.item_5.get_code_name != 'None'  %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_5.get_code_name|add:'.png' %}">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table><br>
        {% endfor %}
        {{ match.drop_json_debug }}
    {% else %}
        <p>No match found.</p>
    {% endif %}
    
    
{% endblock %}