{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
<style>
.dota_item {
    width: 62px; height: 32px;
}
</style>
{% endblock %}

{% block content %}
    {% include 'includes/searchbar_snippet.html' %}
    {% if match %}
        {% for team in teams %}
            {% if forloop.counter == 1%}
                <h1>Radiant</h1>
            {% else %}
                <h1>Dire</h1>
            {% endif %}
            <table class="table table-bordered">
                <thead>
                    <th>Hero</th>
                    <th>Level</th>
                    <th>Player Name</th>
                    <th>K / D / A</th>
                    <th>LH / D</th>
                    <th>Items</th>
                </thead>
                <tbody>
                    {% for playerentry in team.all %}
                    <tr>
                        <td><img src="{% static 'img/miniheroes/'|add:playerentry.hero_id.get_code_name|add:'.png' %}" alt="{{ playerentry.hero_id }}"></td><!-- TODO MAKE ICON -->
                        <td>{{ playerentry.level }}</td>
                        <td>{% if playerentry.leaver_status > 0 %}
                            <i class="icon-remove"> </i>
                            {% endif %}
                            {% if playerentry.account_id_d != 4294967295 and playerentry.account_id != None %}
                            <img src="{{ playerentry.avatar }}"><a href="{{ playerentry.account_id.profileurl }}">{{ playerentry.get_steam_name }}</a>
                            {% else %}
                            <em>{{ playerentry.get_steam_name}}</em>
                            {% endif %}
                        </td>
                        <td>{{ playerentry.kills }}/{{ playerentry.deaths }}/{{ playerentry.assists }}</td>
                        <td>{{ playerentry.last_hits }} / {{ playerentry.denies }}</td>
                        <td>
                            {% if playerentry.item_0.get_code_name %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_0.get_code_name|add:'.png' %}">
                            {% endif %}
                            {% if playerentry.item_1.get_code_name %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_1.get_code_name|add:'.png' %}">
                            {% endif %}
                            {% if playerentry.item_2.get_code_name %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_2.get_code_name|add:'.png' %}">
                            {% endif %}
                            {% if playerentry.item_3.get_code_name %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_3.get_code_name|add:'.png' %}">
                            {% endif %}
                            {% if playerentry.item_4.get_code_name %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_4.get_code_name|add:'.png' %}">
                            {% endif %}
                            {% if playerentry.item_5.get_code_name %}
                            <img class="dota_item" src="{% static 'img/items/'|add:playerentry.item_5.get_code_name|add:'.png' %}">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        
        
    {% else %}
        <p>No match found.</p>
    {% endif %}
    
{% endblock %}